<footer class="footer mt-auto py-3 bg-dark">
  <div class="container">
    <span class="text-muted"> Lalo Aguilar &copy; </span>
    <span class="text-muted" id="year"></span>
  </div>
</footer>
<script>
  document.getElementById('year').textContent = new Date().getFullYear()
</script>

